{% extends 'base.html' %}


{% block content %}
<div class="container mt-2">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Назва</th>
            <th scope="col">s/n</th>
            <th scope="col">Зовнішній вигляд</th>
            <th scope="col">Комплектація</th>
            <th scope="col">Дата отримання в ремонт</th>
            <th scope="col">Дата видачі з ремонту</th>
            <th scope="col">Макс. тривалість ремонту</th>
            <th scope="col">Тривалість ремонту</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for line in data %}
        <tr>
            <td>{{ line['id'] }}</td>
            <td>{{ line['device'] }}</td>
            <td>{{ line['serial_number'] }}</td>
            <td>{{ line['shape'] }}</td>
            <td>{{ line['kit'] }}</td>
            <td>{{ line['start_date'] }}</td>
            <td>{{ line['end_date'] }}</td>
            <td>{{ line['max_time_for_fixing'] }}</td>
            <td>{{ line['days_in_work'] }}</td>
            <td>{{ line['status'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
